<html>
 
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
 
<body>
    <div class='card'>
        <div class='inner'>
            <h2>Xin chào,</h2>
            <h2 class='title'>Giảng viên: {{teacher}} vừa nhận xét tài liệu bạn vừa đăng</h2>
            <h2 class='title'>Mốc thời gian: {{title}}</h2>
            <h2 class='title'>Truy cập đường dẫn 
                <a href='{{url}}'>tại đây</a> để xem chi tiết
            </h2>
        </div>
    </div>
</body>
 
</html>