<html>
 
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
 
<body>
    <div class='card'>
        <div class='inner'>
            <p>Xin chào {{context.userName}}</p>
            <h2 class='title'>Giảng viên: {{context.teacher}} vừa thêm mới một mốc thời gian</h2>
            <h2 class='title'>Mốc thời gian: {{context.milestone}}</h2>
            <h2 class='title'>Truy cập đường dẫn 
                <a href='{{context.url}}'>tại đây</a> để xem chi tiết
            </h2>
        </div>
    </div>
</body>
 
</html>