<html>
 
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
 
<body>
    <div class='card'>
        <div class='inner'>
            <h2>Xin chào,</h2>
            <h2 class='title'>Tài khoản của bạn vừa được đặt lại mật khẩu bởi quản trị viên</h2>
            <h2 class='title'>Mật khẩu mới là: <b>{{password}}</b>.</h2>
            <h2 class='title'>Bạn vui lòng truy cập vào hệ thống để đặt lại mật khẩu nhé.</h2>
        </div>
    </div>
</body>
 
</html>